.files {
    position: absolute;
    bottom: 0; /* Align to the bottom edge of the board */
    left: 0;
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 5px 0;
}

.color-light {
    color: var(--light-tile);
}

.color-dark {
    color: var(--dark-tile);
}
